@use '../abstracts/colors' as *;
@use '../abstracts/transitions' as *;

.nav {
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;
	align-items: center;
	transition: $trans_05;
	height: 3.4rem;

	.list {
		padding: 0;
		margin: 0;
		display: flex;
		list-style: none;
		justify-content: space-around;
		align-items: center;
		li {
			margin: 1rem;
		}
	}
}

.light {
	background-color: $light_primary;
	.text {
		color: $dark_theme_text;
	}
}

.dark {
	background-color: $dark_primary;
}
